```
# Python specific
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.ENV
.env
.env.local
.env.*
.venv/
.ENV/
.ENV.local
.ENV.*
.python-version
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git*
.pytest_cache/
.hypothesis/
.coverage*
htmlcov/
.pyup.yml
.bandit
.isort.cfg
.black
.checkov.yaml
.commitlint.yaml
.deepsource.toml
.editorconfig
.eslintrc*
.flake8
.gemspec
.gitattributes
.gitignore
.pre-commit-config.yaml
.pylintrc
.ruff.toml
.style.yapf
.tern-project
.vimrc
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
```